# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock

# Android / Gradle
**/android/.gradle/
**/android/local.properties
**/android/**/build/
**/android/app/build/
*.keystore
*.jks

# Firebase credentials (keep private)
google-services.json
firebase_options.dart

# Node / NestJS
node_modules/
dist/
npm-debug.log*
.env

# IDE / OS files
.idea/
.vscode/
*.swp
Thumbs.db
[Dd]esktop.ini
